<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
	<!-- wp:template-part {"slug":"header","area":"header"} /-->

	<!-- wp:template-part {"slug":"hero","area":"uncategorized"} /-->

	<!-- wp:group {"className":"produit-mis-en-avant","style":{"spacing":{"padding":{"right":"var:preset|spacing|80","left":"var:preset|spacing|80","top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"backgroundColor":"custom-transparent","layout":{"type":"constrained"}} -->
	<div class="wp-block-group produit-mis-en-avant has-custom-transparent-background-color has-background"
		style="padding-top:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--80)">
		<!-- wp:template-part {"slug":"produit","area":"uncategorized"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:html -->
	<div id="p5js-game-container"></div>
	<!-- /wp:html -->

	<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
</div>
<!-- /wp:group -->